.forecast {
  text-align: center;
  font-style: italic;
  color: #dddddd;
  font-size: 20px;
  margin: 15px;
}
.WeatherForecast-temperature-min {
  margin-left: 5px;
}
.WeatherForecast-temperature-min,
.WeatherForecast-temperature-max {
  font-size: 17px;
}

.WeatherForecast-Icon {
  block-size: 70px;
}
@media (max-width: 576px) {
  .WeatherForecast-Icon {
    block-size: 40px;
  }
  .WeatherForecast-temperature-min,
  .WeatherForecast-temperature-max {
    font-size: 13px;
  }
  .forecast {
    margin: 0px;
    padding: 0;
    font-size: 12px;
  }
}
