.forecast {
  text-align: center;
  font-style: italic;
  color: #dddddd;
  font-size: 20px;
  margin: 15px;
}
.WeatherForecast-temperature-min {
  margin-left: 5px;
}
.WeatherForecast-temperature-min,
.WeatherForecast-temperature-max {
  font-size: 17px;
}

.WeatherForecast-Icon {
  block-size: 70px;
}
